.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}
.note{
    font-size: 15px;
    color: cyan;
}
body{
    background-size: cover;
}
.div_speed{
    float:left;
}
.div_speed_img{
    width: 200px;
    border-radius: 10px;
}
#speed{
    font: sice 23px; ;
}

.div_volumen{
    float: right;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;   
}
#volumen{
    font-size: 23px;
    margin: 15px;

}
.play_button{
    width: 145px;
    font-size: 25px;

}
canvas{
    border: 5px solid rgb(142, 185, 226);
    border-radius: 20px;

}